<% unless current_user.liked_buskings.empty? %>
  <table class="table">
    <thead>
      <tr>
        <th>Category</th>
        <th>Day</th>
        <th>Place</th>
        <th>Name</th>
        <th>Image</th>
        <th>Content</th>
        <th></th>
        <th>댓글 작성</th>
        <th>댓글 보기</th>
        <th><i class="fa fa-heart" style="font-size:24px;color:red"></i></th>
      </tr>
    </thead>
  
    <tbody>
      <% current_user.liked_buskings.each do |busking| %>
        <tr>
          <td>Busking</td>
          <td><%= busking.day %></td>
          <td><%= busking.place %></td>
          <td><%= busking.name %></td>
          <td>
            <img src="<%= busking.image %>" height="250" width="180"/><br>
            <a href="<%= busking.image %>" target="_blank">크게보기</a> 
          </td>
          <td><%= busking.content %></td>
          <td><%= link_to 'Show', busking %><br>
            <% if busking.user == current_user %>
              <%= link_to 'Edit', edit_busking_path(busking) %><br>
              <%= link_to 'Destroy', busking, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
          
          <!--댓글작성-->
          <td>
            <form action = "/<%= busking.id%>/comment_busking_create" method= "post">
              댓글 : <textarea name="content"></textarea>
              <button type="submit" class="btn btn-default btn-xs">제출</button>
            </form>
          
          </td>
          
          <!--댓글보기-->
          <td>
            <%busking.comment_buskings.each do |c| %>
              <%= fa_icon('comment-alt') %> <%= c.content%>
              <% if c.user == current_user %>
                <%= link_to comment_busking_edit_path(x_id: busking.id, c_id: c.id) do %>
                  수정
                <% end %>
                <a href="<%= busking.id %>/comment_busking_destroy/<%= c.id %>"> 삭제 </a>
              <% end %>
              <br>
            <%end%>
          </td>
          <td>
            <% if busking.liked_busking_users.include?(current_user) %>
              <!--좋아요 누름-->
              <%= link_to fa_icon('heart', style: 'font-size:24px; color: red;'), 
                          like_busking_path(post_id: busking.id), method: :post %>
            <% else %>
              <!--좋아요 안 누름-->
              <%= link_to fa_icon('heart', style: "font-size:24px; color: grey;"), 
                          like_busking_path(post_id: busking.id), method: :post %>
            <% end %>
            <%= busking.likebuskings.count %> 명이 좋아합니다. <br><br>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>