<% unless current_user.liked_videos.empty? %>
    <table class="table">
      <thead>
        <tr>
          <th>Category</th>
          <th>Title</th>
          <th>Image</th>
          <th>Content</th>
          <th></th>
          <th>댓글 작성</th>
          <th>댓글 보기</th>
          <th><i class="fa fa-heart" style="font-size:24px;color:red"></i></th>
        </tr>
      </thead>
    
      <tbody>
        <% current_user.liked_videos.each do |video| %>
          <tr>
            <td>Video</td>
            <td><%= video.title %></td>
            <td>
              <video width="320" height="240" controls>
                <source src="<%= video.image %>" type="video/mp4">
                <source src="<%= video.image %>" type="video/ogg">
                <source src="<%= video.image %>" type="video/webm">
                <object data="<%= video.image %>" width="320" height="240">
                <embed src="<%= video.image %>" width="320" height="240">
                </object> 
              </video>
            </td>
            <td><%= video.content %></td>
            <td><%= link_to 'Show', video %><br>
              <% if video.user == current_user %>
                <%= link_to 'Edit', edit_video_path(video) %><br>
                <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
            <!--댓글작성-->
            <td>
              <form action = "/<%= video.id%>/comment_video_create" method= "post">
                댓글 : <textarea name="content"></textarea>
                <button type="submit" class="btn btn-default btn-xs">제출</button>
              </form>
            
            </td>
            
            <!--댓글보기-->
            <td>
              <%video.comment_videos.each do |c| %>
                <%= fa_icon('comment-alt') %> <%= c.content%>
                <% if c.user == current_user %>
                  <%= link_to comment_video_edit_path(x_id: video.id, c_id: c.id) do %>
                    수정
                  <% end %>
                  <a href="<%= video.id %>/comment_video_destroy/<%= c.id %>"> 삭제 </a>
                <%end%><br>
              <%end%>
            </td>
            <td>
                <% if video.liked_video_users.include?(current_user) %>
                  <!--좋아요 누름-->
                  <%= link_to fa_icon('heart', style: 'font-size:24px; color: red;'), 
                              like_video_path(post_id: video.id), method: :post %>
                <% else %>
                  <!--좋아요 안 누름-->
                  <%= link_to fa_icon('heart', style: "font-size:24px; color: grey;"), 
                              like_video_path(post_id: video.id), method: :post %>
                <% end %>
                <%= video.likevideos.count %> 명이 좋아합니다. <br><br>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>