<div class="container">
    <hr /> <center><h2><%= current_user.name %>님이 좋아한 글</h2></center>
    
   <%= render 'performance' %>
   <%= render 'post' %>
   <%= render 'tip' %>
   <%= render 'busking' %>
   <%= render 'photo' %>
   <%= render 'video' %>
   
  
  <%#= paginate @tip, theme: 'twitter-bootstrap-4' %>

</div>

<hr />