<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<div class="container">

<h1><strong>BUSKING</strong></h1><br>


<center>
<p id="notice"><%= notice %></p>

<table class="table">
    <thead>
      <tr>
        <th>작성자</th>
        <th>Date</th>
        <th>Place</th>
        <th>Name</th>
        <th>Image</th>
        <th>Content</th>
        

    </thead>
    
    <tbody>
      <tr>
        <td><%= @busking.user.name %></td>
        <td><%= @busking.day %></td>
        <td><%= @busking.place %></td>
        <td> <%= @busking.name %></td>
        <td><%= image_tag("#{@busking.image}", style: 'height:300px;width:180px;') %></td>
        <td><%= @busking.content %></td>
      </tr>
    </tbody>
</table><br>

<%= link_to 'Edit', edit_busking_path(@busking) %> |
<%= link_to 'Back', buskings_path %>
 
</center>
</div>
</body>